body {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

.header {
    margin: 0px 150px;
    text-align: center;
    padding: 2.5em 2em 0px;
    border-bottom: 1px solid #EEE;
}

h1 {
    color: #333;
    font-weight: 300;
}

h2 {
    color: #ccc;
    font-weight: 300;
}

.content {
    margin: 0px 150px auto;
    padding: 0px 2em;
    line-height: 1.6em;
}

.content-subhead {
    margin: 50px 0px 20px;
    font-weight: 300;
    color: #888;
}

#menu {
    width: 150px;
    position: fixed;
    top: 0px;
    bottom: 0px;
    z-index: 1000;
    background: #191818 none repeat scroll 0% 0%;
    overflow-y: auto;
    display: block;
    margin: 0px;
    padding: 0px;
}

.menu-heading {
    background: #1f8dd6;
    display: block;
    padding: 10px;
    color: white;
    font-variant: small-caps;
    font-size: 23px;
    font-weight: bold;
}

.menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-item {
    padding: 0;
    margin: 0;
    padding: 10px;
}

.menu-link {
    text-decoration: none;
    color: #ccc;
    font-weight: bold;
    font-size: 15px;
}
