IDI_ICON1 ICON DISCARDABLE "resources/icons/mask.ico"

#include <windows.h>             // needed for VERSIONINFO
#include "../../libdotnet/version.h"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     DOTNET_VERSION_MAJOR,DOTNET_VERSION_MINOR,DOTNET_VERSION_MICRO,DOTNET_VERSION_PATCH
PRODUCTVERSION  DOTNET_VERSION_MAJOR,DOTNET_VERSION_MINOR,DOTNET_VERSION_MICRO,DOTNET_VERSION_PATCH
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4" // U.S. English - multilingual (hex)
        BEGIN
            VALUE "CompanyName",        "PurpleI2P"
            VALUE "FileDescription",    "DOTNET Qt"
            VALUE "FileVersion",        DOTNET_VERSION
            VALUE "InternalName",       "dotnet-qt"
            VALUE "LegalCopyright",     "Copyright (C) 2013-2018, The PurpleI2P Project"
            VALUE "LegalTrademarks1",   "Distributed under the BSD 3-Clause software license, see the accompanying file COPYING or https://opensource.org/licenses/BSD-3-Clause."
            VALUE "OriginalFilename",   "dotnet_qt.exe"
            VALUE "ProductName",        "dotnet-qt"
            VALUE "ProductVersion",     DOTNET_VERSION
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1252 // language neutral - multilingual (decimal)
    END
END
