Source: i2pd
Section: net
Priority: extra
Maintainer: hagen <hagen@i2pmail.org>
Build-Depends: debhelper (>= 9.0.0), dpkg-dev (>= 1.16.1~),
 gcc (>= 4.7) | clang (>= 3.3),
 libboost-system-dev (>= 1.46),
 libboost-date-time-dev,
 libboost-filesystem-dev,
 libboost-program-options-dev,
 libminiupnpc-dev,
 libssl-dev
Standards-Version: 3.9.3
Homepage: https://github.com/PurpleI2P/i2pd
Vcs-Git: git://github.com/PurpleI2P/i2pd.git
Vcs-Browser: https://github.com/PurpleI2P/i2pd.git

Package: i2pd
Architecture: any
Pre-Depends: adduser
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: privoxy
Suggests: tor
Description: load-balanced unspoofable packet switching network - C++ port
 I2P is an anonymizing network, offering a simple layer that identity-sensitive
 applications can use to securely communicate. All data is wrapped with several
 layers of encryption, and the network is both distributed and dynamic, with no
 trusted parties.
 .
 This package contains the port of the I2P router to C++. Unless willing
 to test and report problems, you should install the 'i2p' package instead.

Package: i2pd-dbg
Architecture: any
Priority: extra
Section: debug
Depends: i2pd (= ${binary:Version}), ${misc:Depends}
Description: i2pd debugging symbols
 I2P is an anonymizing network, offering a simple layer that identity-sensitive
 applications can use to securely communicate. All data is wrapped with several
 layers of encryption, and the network is both distributed and dynamic, with no
 trusted parties.
 .
 This package contains symbols required for debugging.
