[Desktop Entry]
Categories=Network;P2P;Qt;
Exec=dotnet_qt
GenericName=Invisible Internet
Comment=A universal anonymous network layer
Icon=website.dotnet.dotnet
Name=dotnet
Terminal=false
Type=Application
StartupNotify=false
Keywords=dotnet;dotnet;vpn;p2p;
