#torrent-ui button {
	border-radius: 3.33px;
	padding: 0.1vw;
  	margin: 2px;
	text-decoration: underline;
	color: black;
  	background: aquamarine;
	text-transform: uppercase;
}

#torrent-ui button:hover {
	cursor:pointer;
	background-color: yellow;
	transition: background-color 0.5s ease 0.1s;
}

#torrent-ui {
  display: flex;
  flex-direction: column;
  gap: 2.5px;
}

#torrents li {
	border-bottom: none; 
}
